name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Create Flutter project
        run: flutter create app --org com.aluupvc.pro

      - name: Replace files
        run: |
          rm app/pubspec.yaml
          rm app/lib/main.dart
          cp pubspec.yaml app/pubspec.yaml
          cp main.dart app/lib/main.dart

      - name: Pub get
        run: |
          cd app
          flutter pub get
      - name: Disable R8 / Minify for Release
        run: |
          cd app
          echo "Disabling minifyEnabled & shrinkResources in android/app/build.gradle"
          perl -0777 -i -pe "s/minifyEnabled\s+true/minifyEnabled false/g; s/shrinkResources\s+true/shrinkResources false/g" android/app/build.gradle

      - name: Build APK
        run: |
          cd app
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: app/build/app/outputs/flutter-apk/app-release.apk
